.App {
  text-align: center;
}

body {
  background-color: blueviolet;
}

.inputText {
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flexbox;
  width: 80%;
  float: left;
  margin-left: 20px;
  font-size: 18px;
  position: relative;
  top: 50px;
  background-color: cornsilk;
}

.checkbox {
  float: left;
  position: relative;
  top: 80px;
  left: 20px;
  background-color: cornsilk;
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 80%;
  font-size: 18px;
  text-align: left;
}

.menuBox {
  background-color: cornsilk;
  float: left;
  padding: 50px;
  position: relative;
  top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
